/* Setting global font style */
* {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}

header {
    background-color: #3A506B;
    border: solid #5BC0BE 5px;
}

/* Setting background and font color */
body {
    background-color: #1C2541;
    color: #5BC0BE;
}


/* Center text, as well as give background color for choices */
ol {
    list-style: decimal inside;
}

h2, p, table {
    background-color: #3A506B;
    margin: 10px 25vw;
    border: solid #5BC0BE 5px;
}

.row{
    margin: 30vh 20vw 5vh 20vw;
}

#submitForm {
    margin: 30vh 0 5vh 0;
}


@media screen and (max-width: 610px) {
    
    h2, p {
        margin: 10px;
    }
    
    .row {
        margin: 30vh 0 5vh 0;
    }
}